body{
  
  background-image: url(./25501.jpg);
  background-color: #4d99e7;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column  ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.weatherHeading, .searchError{
  color: white;
  text-align: center;
}


.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  /* gap:1.2rem; */
  margin-top: 5rem;
  color:#ffffff;
}

form{
  display: flex;
}
.container-search{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-row{
  padding: 2rem;
}

.form-row input{
  padding: 10px;
  width: 20rem;
  border-radius: 10px;
  border: none;
}

.form-row input:focus{
    outline: none; 
    border-bottom: 1px solid #a1bef8;
}

button{
  background-color: #a1bef8;
  color: aliceblue;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
button:focus{
  border: none;
  background-color:#889dc9 ;
  outline: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-top: 5rem;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:1024px) {
  body{
    height: 100vh;;
  }
  form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: cent;
  }

.form-row{
  padding: 1rem;
}
.cards,.lds-dual-ring{
  margin-top: 2rem;
}


}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
